<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <h1 class="titulo-bienvenida">Bienvenido/a!</h1>
    <section id="opciones">
        <h2>Agregar</h2>
        <ul>
            <li>
                <a href="farmacias">Farmacias</a>
            </li>
            <li>
                <a href="productos">Productos</a>
            </li>
        </ul>
    </section>
</head>
<body>
    
</body>
<link href="/styles/index.css" rel="stylesheet">
</html>